In [3]:
import pandas as pd
data = {
   "City": ["Stockholm", "Göteborg", "Stockholm", "Malmö"],
   "Sales": [100, 200, 150, 300]
}
df = pd.DataFrame(data)

print(df)

grouped = df.groupby("City")["Sales"].sum()
print(grouped)

City
Göteborg     200
Malmö        300
Stockholm    250
Name: Sales, dtype: int64